.container{
    justify-self: center;
    margin: 100px auto;
    background-color: black;
    padding: 20px;
    border-radius: 25px;
}
.calculator form input{
    padding: 20px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 6px 6px;
}
body{
    background-color: white;
    justify-content: center;
}
input:hover{
    background-color: blanchedalmond;
    color: black;
}
#display{
    padding: 20px;
    border: radius 10px;
    display:block;
    margin: 10px;

}
#but1{
    background-color: orangered;
    color:white;
}
#but2{
    background-color: orangered;
    color:white;
}
#but3{
    background-color: orangered;
    color:white;
}
#but4{
    background-color: orangered;
    color:white;
}
#but5{
    background-color: orangered;
    color:white;
}

input{
    border-radius: 5px;
    background-color: white;
    color: red;
}
div{
    justify-self: center;
    align-items: baseline;
    align-content: center;
}
#AC{
    background-color:grey;
}